@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    display :flex;
    align-items: center;
    justify-content: center;
}

.scorecard {
    width: 30vw;
    margin-top: 12vh;
}

.intro {
    border: solid 2px grey;
    border-radius: 5px;
    padding: 3px;
}

#scboard h2 {
    font-size: 38px;
    font-weight: 700;
}