@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    display :flex;
    align-items: center;
    justify-content: center;
}

.scorecard {
    width: 30vw;
    margin-top: 12vh;
}

.intro {
    border: solid 2px grey;
    border-radius: 5px;
    padding: 3px;
    font-weight: 700;
    color: black;
    font-size: medium;
}


#scboard h2 {
    font-size: 38px;
    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 3px;
    padding-top: 12px;

}
.buttons button {
    flex: 1 1 0;
}

#inlinescore {
    padding-top: 12px;
    font-size: large;
    font-weight: 700;
    color: black;
}

#rounds {
    width: 60px;
    border-radius: 12px;
    text-align: center;
    border: solid 2px;
}